
body {
  overflow-y: scroll;
}
.dropdown-link-text {
  display: inline-block;
  margin-left: 5px;
}
.glyphicon-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
.input-group-addon {
  min-width: 80px;
}
.tabs-left .input-group-addon {
  padding: 0;
  vertical-align: top;
}
.tabs-left .input-group-addon .nav-tabs a {
  border-width: 1px 0;
}
.tabs-left .nav-tabs {
  float: left;
  border-bottom: 0;
}
.tabs-left .nav-tabs li {
  width: 100%;
  margin: 0;
}
.tabs-left .nav-tabs li a {
  margin-right: 0;
  border: 0;
}
.tabs-left .nav-tabs > li.active > a,
.tabs-left .nav-tabs > li.active > a:hover,
.tabs-left .nav-tabs > li.active > a:focus {
  border: 0;
}
.tabs-left .tab-content {
  margin-left: 45px;
}
.tabs-left .tab-content .tab-pane {
  padding: 0;
  overflow-y: auto;
}
.tabs-left .tab-content.form-control {
  float: none;
  padding: 0;
}
